{% extends 'main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
<section id="container" >
    <!-- *********************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
    ********************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="{% trans 'Toggle Navigation' %}"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>{% trans 'СИСТЕМА РАСЧЕТА ЗАРАБОТНОЙ ПЛАТЫ' %}</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{% url 'logout' %}">{% trans 'Выход' %}</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- ***********************************************************************
        MAIN SIDEBAR MENU
    ************************************************************************ -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            {% block nav %}
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><i class="fa fa-user fa-5x"></i></p>
                <h5 class="centered">{{ user.username }}</h5>

                {% block nav-departments %}
                <li class="sub-menu">
                    <a href="{% url 'department-list' %}">
                    <i class="fa fa-users"></i>
                    <span>{% trans 'Отделы' %}</span>
                    </a>
                </li>
                {% endblock %}

                {% block nav-positions %}
                <li class="sub-menu">
                    <a href="{% url 'position-list' %}">
                    <i class="fa fa-star"></i>
                    <span>{% trans 'Должности' %}</span>
                    </a>
                </li>
                {% endblock %}

                {% block nav-bonuses %}
                <li class="sub-menu">
                    <a href="{% url 'bonus-list' %}">
                    <i class="fa fa-usd"></i>
                    <span>{% trans 'Премии' %}</span>
                    </a>
                </li>
                {% endblock %}

                {% block nav-sicktimes %}
                <li class="sub-menu">
                    <a href="{% url 'sicktime-list' %}">
                    <i class="fa fa-heart"></i>
                    <span>{% trans 'Больничные' %}</span>
                    </a>
                </li>
                {% endblock %}

                {% block nav-vacations %}
                <li class="sub-menu">
                    <a href="{% url 'vacation-list' %}">
                    <i class="fa fa-car"></i>
                    <span>{% trans 'Отпуска' %}</span>
                    </a>
                </li>
                {% endblock %}

                {% block nav-reports %}
                <li class="sub-menu">
                    <a href="{% url 'report-list' %}">
                    <i class="fa fa-file-o"></i>
                    <span>{% trans 'Отчеты' %}</span>
                    </a>
                </li>
                {% endblock %}
            </ul>
            {% endblock %}
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- ***************************************************************************
        MAIN CONTENT
    **************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        {% block content %}
        {% endblock %}
    </section><!-- /MAIN CONTENT -->
    <!--main content end-->
</section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>

    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/gritter-conf.js' %}"></script>
    {% if messages %}
	<script type="text/javascript">
        $(function () {
            {% for message in messages %}
            $.gritter.add({
                title: "{% trans 'Уведомление' %}",
                text: "{{ message }}",
                time: "5000",
            });
            {% endfor %}
            return false;
        });
	</script>
    {% endif %}
{% endblock %}
