{% extends 'main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
<div id="login-page">
    <div class="container">
        {% if form.errors %}
        <div class="alert alert-danger"><b>{% trans 'Ошибка!' %}</b> {% trans 'Неверное имя пользователя или пароль' %}</div>
        {% endif %}
        <form method='post' class="form-login" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <h2 class="form-login-heading">{% trans 'вход в систему' %}</h2>
            <div class="login-wrap">
                <input name="username" type="text" class="form-control" placeholder="{% trans 'Имя пользователя' %}" autofocus>
                <br>
                <input name="password" type="password" class="form-control" placeholder="{% trans 'Пароль' %}">
                <br>
                <button class="btn btn-theme btn-block" href="index.html" type="submit">
                <i class="fa fa-lock"></i> {% trans 'ВХОД' %}</button>
                <hr>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
<script>
    // $.backstretch("{% static 'assets/img/login-bg.jpg' %}", {speed: 500});
</script>
{% endblock %}
